<%- include('./partials/header'); %>

    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT 
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
   
        <section id="main-content">
      <section class="wrapper">
        <div class="row mt">
          
          <div class="col-md-12">
           
            <div class="content-panel">
              
                <div id="container-btn">
                  <% for(var i = 0; i < data.length; i++) { %>
                <button href="../sensorEkle/<%=data[i].cihazID%> " type="submit" class="btn btn-info ekle"><i class="fa fa-plus"></i><a href="../sensorEkle/<%=data[i].cihazID%> ">Sensör Ekle</a></button>
                <div class="sensoralarm" >
                <button href="./alarm/<%=data[i].cihazID%> " type="button" class="btn btn-primary btt" ><svg class="icon alarm"></svg><a href="./alarm/<%=data[i].cihazID%> "><span class="span">Alarm</span></a></button>
                
              </div>
              <div class="sensoralarm" col-lg-2 col-md-3 col-sm-4 col-xs-6>
                   <button href="./nem/<%=data[i].cihazID%>"  type="button" class="btn btn-primary btt "  ><svg class="icon1" > </svg><a href="./nem/<%=data[i].cihazID%>" ><span class="span">Nem</span></a></button>
                  </div>
                  <div class="sensoralarm">
                   <button   href="./sicaklik/<%=data[i].cihazID%>"type="button" class="btn btn-primary btt " ><svg class="icon2" > </svg><a  href="./sicaklik/<%=data[i].cihazID%>"><span class="span">Sıcaklık</span></a></button>
                  </div>
                 <div class="sensoralarm">
                   <button href="./yaniciGaz/<%=data[i].cihazID%>" type="button" class="btn btn-primary btt " ><svg class="icon3" > </svg><a href="./yaniciGaz/<%=data[i].cihazID%>"><span class="span">Yanıcı Gaz</span></a></button>
                  </div>
                  <div class="sensoralarm">
                   <button href="./siren/<%=data[i].cihazID%>" type="button" class="btn btn-primary btt " ><svg class="icon4" > </svg><a href="./siren/<%=data[i].cihazID%>"><span class="span">Siren</span></a></button>
                  </div>
                  <div class="sensoralarm">
                   <button href="./gaz/<%=data[i].cihazID%>" type="button" class="btn btn-primary btt " > <svg class="icon5" > </svg><a href="./gaz/<%=data[i].cihazID%>"><span class="span">Gaz</span></a></button>
                  </div>
                  <div class="sensoralarm">
                   <button href="./suBaskini/<%=data[i].cihazID%>" type="button" class="btn btn-primary btt " > <svg class="icon6" > </svg><a href="./suBaskini/<%=data[i].cihazID%>"><span class="span">Su baskını</span></a></button>
                  </div>
                  <div class="sensoralarm">
                   <button type="button" class="btn btn-primary btt" > <svg class="icon7" > </svg><a><span class="span">Kamera</span></a></button>
                  </div>
              </div>
            </div>
            <%}%>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
          
           
              
      </section>
      
    </section>

    <%- include('./partials/footer'); %>
